* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item img {
    width: 286px;
    width: 286px;
    border-radius: 5px;
}

.item {
    position: relative;
    padding: 5px;
    width: 300px;
    height: 510px;
    border: 1px solid rgb(212, 210, 210);
    border-radius: 8px;
}

.item h5 {
    font-size: 21px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.032px;
}

.item h6 {
    font-size: 17px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.026px;
}

.manu-text {
    font-size: 12px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.048px;
}

.ratting-text {
    font-size: 12px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.048px;
}

.card-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #95A0A7;
    background: #FFE0B3;
}
.card-btn:hover{
    background-color: orange;
}