.header{
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    padding-left: 90px;
    padding-right: 90px;
}
nav.header a{
    text-decoration: none;
    padding-left: 30px;
    color: white;
}
nav.header a:hover{
    color: orange;
}